**Veri bilimi için istatistik**

Örnek teorisi

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,80,10000)

In [3]:
populasyon

array([23, 37, 11, ..., 38, 68, 57])

In [6]:
#örneklem çekme

In [8]:
np.random.seed(10)  #farklı rastgele örnek çekmesin diye bir seed atıyoruz aynısı gelsin diye
orneklem = np.random.choice( a = populasyon, size = 100)

In [9]:
orneklem[0:10]

array([27, 18, 54, 55, 12, 62,  5,  8, 76, 69])

In [10]:
orneklem.mean()

39.56

In [11]:
populasyon.mean()

39.3616

In [12]:
# tüm veri ile rastgele aldığımız 100 veri arasındaki değerler birbirine yakın 
# tüm değerleri incelemek zor bu yüzden parçalara ayıracağız

In [13]:
#örneklem dağılımı

In [16]:
np.random.seed(10)
orneklem1=np.random.choice(a=populasyon,size=100)
orneklem2=np.random.choice(a=populasyon,size=100)
orneklem3=np.random.choice(a=populasyon,size=100)
orneklem4=np.random.choice(a=populasyon,size=100)
orneklem5=np.random.choice(a=populasyon,size=100)
orneklem6=np.random.choice(a=populasyon,size=100)
orneklem7=np.random.choice(a=populasyon,size=100)
orneklem8=np.random.choice(a=populasyon,size=100)
orneklem9=np.random.choice(a=populasyon,size=100)
orneklem10=np.random.choice(a=populasyon,size=100)

In [17]:
(orneklem1.mean() +orneklem2.mean() +orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+
orneklem6.mean()+orneklem7.mean()+orneklem8.mean()+orneklem9.mean()+orneklem10.mean() ) / 10

39.05400000000001

In [18]:
#populasyon ortalaması ile 10 tane örneklemin ortalaması arasındaki fark 0.3 çıktı ve birbirine yakın değerler

In [19]:
orneklem7.mean()

39.7

In [20]:
orneklem1.mean()

39.56

Betimsel istatistikler

In [22]:
#kovaryans ve korelasyon

In [26]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [28]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [29]:
!pip install researchpy
import researchpy as rp

Collecting researchpy
  Downloading researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.7.3)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (from researchpy) (0.13.2)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.4.2)
Requirement already satisfied: patsy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\programdata\anaconda3\lib\site-packages (from statsmodels->researchpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels->researchpy) (3.0.4)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [31]:
rp.summary_cont(df[["total_bill","tip","size"]])  #sayısal değişkenler için

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [32]:
rp.summary_cat(df[["sex","smoker","day"]])  # kategorik değişkenler için

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

df[["tip","total_bill"]].cov()  # coveryans

In [34]:
df[["tip","total_bill"]].corr()  #korelasyon

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

güven aralığı nasıl hesaplanır

In [1]:
# n sayısı ortalama sayısı ve standart sapma bulunur
# güven aralığına karar verilir
# güven aralığı genelde 95-99 arasındadır 95 kullanılır ama
# z tablo değeri hesaplama ( 1,96 - 2,57)
# x +- z(s/kökn) = 180 +- 1,96 x (40/kök100)
# sonuç 172-188 arasında çıkar

bu demek oluyorki websitesine gelenlerden 5 tanesi 172 ve 188 saniye aralıkları dışında ziyaret ediyor.

**iş uygulaması: fiyat stratejisi karar destek**

In [4]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000)

In [6]:
fiyatlar.mean()

60.034

In [7]:
import statsmodels.stats.api as sms

In [10]:
sms.DescrStatsW(fiyatlar).tconfint_mean()  #Kullanıcıların ele aldığı kullanıcıların %95 oranındaki fiyatlar

(58.2514420208086, 61.8165579791914)

**olasılığa giriş ve olasılık dağılımları**

Bernou Dagilim
f(k;p)=p²(1-p)for&(0,1)€

E(X)=P

Var[X]=pq=p(1-P)

In [12]:
from scipy.stats import bernoulli

In [13]:
p = 0.6

In [16]:
rv = bernoulli(p)
rv.pmf(k = 0) #propality mass function #yazı gelme olasığını hesaplıyor

0.4

In [ ]:
import numpy as np
rng = np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi = 2**i
    yazi_turalar = rng.randint(0,2,size = deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış Sayısı:",deney_sayisi,"---",'Yazı Olasılığı: %.2f' % (yazi_olasiliklari * 100))

Atış Sayısı: 2 --- Yazı Olasılığı: 50.00
Atış Sayısı: 4 --- Yazı Olasılığı: 0.00
Atış Sayısı: 8 --- Yazı Olasılığı: 62.50
Atış Sayısı: 16 --- Yazı Olasılığı: 43.75
Atış Sayısı: 32 --- Yazı Olasılığı: 46.88
Atış Sayısı: 64 --- Yazı Olasılığı: 56.25
Atış Sayısı: 128 --- Yazı Olasılığı: 50.78
Atış Sayısı: 256 --- Yazı Olasılığı: 52.73
Atış Sayısı: 512 --- Yazı Olasılığı: 52.93
Atış Sayısı: 1024 --- Yazı Olasılığı: 50.20
Atış Sayısı: 2048 --- Yazı Olasılığı: 48.58
Atış Sayısı: 4096 --- Yazı Olasılığı: 49.49
Atış Sayısı: 8192 --- Yazı Olasılığı: 49.58
Atış Sayısı: 16384 --- Yazı Olasılığı: 49.96
Atış Sayısı: 32768 --- Yazı Olasılığı: 50.00
Atış Sayısı: 65536 --- Yazı Olasılığı: 49.68
Atış Sayısı: 131072 --- Yazı Olasılığı: 49.97
Atış Sayısı: 262144 --- Yazı Olasılığı: 50.13
Atış Sayısı: 524288 --- Yazı Olasılığı: 50.01
Atış Sayısı: 1048576 --- Yazı Olasılığı: 50.09

**BİNOM DAĞILIMI**

${\displaystyle f(k;n,p)={n \choose k}p^{k}(1-p)^{n-k}}$, k = 0, 1, 2, ...,n


${\displaystyle \operatorname {E} (X)=np}$


${\displaystyle \operatorname {Var} (X)=np(1-p)}$

In [21]:
#bernoulli yasasının n defa denenmiş halidir.

reklam tıklanma olasılıkları hesaplama

dağılım ve tıklama olasılığı 0.01  
soru :  reklamı 100 kişi gördüğünde 1,5,10 tıklanma olasılığı

In [22]:
from scipy.stats import binom

In [23]:
p = 0.01
n = 100
rv = binom(n,p)

In [24]:
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764972666
0.002897787123761478
7.006035693977194e-08

**Poisson Dağılımı**

In [25]:
#nadiren gözüken olaylar poissona dahil edilir
# 10bin kelimeden oluşan kitapta katalı kelime sayısı
# 4000 öğrencili okulda hatalı not giriş sayısı
# rötara düşen uçuş sefer sayısı

bir üniversitede 5000 not girişinde 5 tane notun yanlış girilme olasılığı  
poisson ve lambda 0.2

İş uygulaması :  hatalı iilan girişi olasılıkları hesaplanacak

In [26]:
# bir yıl süresince ölçüm
# dağılım biliniyor  lambda 0.1

In [27]:
# hiç hata olmaması 3 hata olması ve 5 hata olması ?

f(0;0.1):
f(3;0.1)=
f(5;0.1)=
        0.1⁰e-0.1
          0!
        0.1³ -0.1
          3!
        0.15e-0.1
          5!
              =0.9048374180
              =0.0001508062
              =0.0000000754

In [29]:
from scipy.stats import poisson

In [31]:
lambda_ = 0.1

In [33]:
rv = poisson(mu = lambda_ )
rv.pmf(k =0)

0.9048374180359595

In [34]:
rv.pmf(k =3)

0.00015080623633932676

In [35]:
rv.pmf(k =5)

7.54031181696634e-08

**NORMAL DAĞILIM**